<div class="l-menu-section fg1 section-color-glacier l-menu-section_bt">
  <div class="l-menu-section-title"><span>LIKE MINDED ATTENDEES</span></div>
  <div class="l-menu-section-inner">
    <div class="scroll-list-box">
      <div class="scroll-list-box__wrapper __default">
        <div class="scroll-list-box__title">
          <div class="scroll-list-box__title-dt">ATTENDED</div>
          <div class="scroll-list-box__title-dd">RANK</div>
        </div>
        <div class="scroll-list-box__body">
          <div class="scroll-list-box__items scroll-container">
            <dl *ngFor="let mind of likeminded.metrics[0].values">
              <dt><span>{{mind.caption}}</span><a href="#">{{mind.referenceMaterial}}</a></dt>
              <dd>{{(mind.value1 * 100).toFixed(0)}} %</dd>
            </dl>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
