<div class="l-menu-section fg1 section-color-glacier l-menu-section_bt">
  <div class="l-menu-section-title"><span>YOUR FITNESS</span></div>
  <div class="l-menu-section-inner">
    <div class="l-menu-section-block __b-25" *ngFor="let fit of fitness.metrics">
      <div class="box-icon-caption __bic_tan-hide_gl">
        <div class="box-icon-caption__wrapper">
          <div class="box-icon-caption__title">{{fit.caption}}</div>
          <div class="box-icon-caption__content">
            <div class="box-icon-caption__meaning" *ngIf="fit.key === 'time'" [innerHTML]="fit.value1 | prettyTime"></div>
            <div class="box-icon-caption__meaning" *ngIf="fit.key !== 'time'">{{fit.value1}}</div>
            <div class="box-icon-caption__icon" *ngIf="fit.key === 'steps'"><i class="icon icon-icon-circle-steps "></i></div>
            <div class="box-icon-caption__icon" *ngIf="fit.key === 'time'"><i class="icon icon-icon-circle-paths "></i></div>
            <div class="box-icon-caption__icon" *ngIf="fit.key === 'miles'"><i class="icon icon-icon-circle-compare "></i></div>
            <div class="box-icon-caption__icon" *ngIf="fit.key === 'calories'"><i class="icon icon-icon-circle-burning "></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
