.leadgen-label{
    &.__unsubscribed,
    &.__connect{
        cursor: pointer;
    }
}
.bc-dwell{
    i{
        font-style: normal;
    }
}
.scroll-list-box__items{
    dl{
        flex-grow: unset;
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
