<div class="l-menu-section fg1 section-color-glacier">
  <div class="l-menu-section-title"><span>BROKERED CONNECTIONSTM &trade;</span></div>
  <div class="l-menu-section-inner">
    <div class="scroll-list-box is-v2">
      <div class="scroll-list-box__wrapper __default __wb">
        <div class="scroll-list-box__title is-hidden-sm">
          <div class="scroll-list-box__title-da">EXIBITOR</div>
          <div class="scroll-list-box__title-db">INDUSTRY</div>
          <div class="scroll-list-box__title-dc">VISITS</div>
          <div class="scroll-list-box__title-df">DWELL</div>
          <div class="scroll-list-box__title-de">CONNECTION</div>
        </div>
        <div class="scroll-list-box__body">
          <div class="scroll-list-box__items scroll-container">
            <dl class="is-bloked" *ngFor="let broker of brokered_connections.metrics[0].values">
              <div data-title="EXIBITOR" class="bc-title">{{broker.caption}}</div>
              <div data-title="INDUSTRY" class="bc-industry">{{broker.industry}}</div>
              <div data-title="VISITS" class="bc-visits">{{broker.visits}}</div>
              <div data-title="DWELL" class="bc-dwell">{{broker.dwell}}</div>

              <div data-title="emails" class="bc-connection" *ngIf="broker.email">
                <span >{{broker.email}}</span>
              </div>
              <div data-title="emails" class="bc-connection" *ngIf="!broker.email">
                <span *ngIf="broker.state === 0" class="leadgen-label __connect">Connect</span>
                <span *ngIf="broker.state === 1" class="leadgen-label __pending">Pending</span>
                <span *ngIf="broker.state === 2" class="leadgen-label __unsubscribed">Unsubscribed</span>
                <!-- <span *ngIf="broker.state === 3" class="leadgen-label __connect" (click)="connectUser(i)">Unknow status!</span> -->
              </div>
            </dl>

            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">asdsadasdasaasadasasdasdsadsadsad</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">sadsadasdasdsadasdasdasdsadsasad</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">sadsadasdasdasdsadasdassdasaa@sadsad</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">asdsadasdasaasadasasdasdsadsadsad</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">sadsadasdasdsadasdasdasdsadsasad</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">sadsadasdasdasdsadasdassdasaa@sadsad</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">asdsadasdasaasadasasdasdsadsadsad</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">sadsadasdasdsadasdasdasdsadsasad</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">sadsadasdasdasdsadasdassdasaa@sadsad</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">asdsadasdasaasadasasdasdsadsadsad</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">sadsadasdasdsadasdasdasdsadsasad</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">sadsadasdasdasdsadasdassdasaa@sadsad</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->
            <!--<dl class="is-bloked">-->
              <!--<div data-title="EXIBITOR" class="bc-title">CNTV</div>-->
              <!--<div data-title="INDUSTRY" class="bc-industry">Advertising</div>-->
              <!--<div data-title="VISITS" class="bc-visits">5</div>-->
              <!--<div data-title="DWELL" class="bc-dwell">23.21min</div>-->
              <!--<div data-title="CONNECTION" class="bc-connection"><a href="mailto:Paul@cntv">Paul@cntv</a></div>-->
            <!--</dl>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
