<div class="l-menu-section fg1 section-color-glacier">
  <div class="l-menu-section-title"><span>BROKERED CONNECTIONS &trade;</span></div>
  <div class="l-menu-section-inner">
    <div class="scroll-list-box is-v2">
      <div class="scroll-list-box__wrapper __default __wb">
        <div class="scroll-list-box__title is-hidden-sm">
          <div class="scroll-list-box__title-da">EXIBITOR</div>
          <div class="scroll-list-box__title-db">INDUSTRY</div>
          <div class="scroll-list-box__title-dc">VISITS</div>
          <div class="scroll-list-box__title-df">DWELL</div>
          <div class="scroll-list-box__title-de">CONNECTION</div>
        </div>
        <div class="scroll-list-box__body">
          <div class="scroll-list-box__items scroll-container">
            <dl class="is-bloked" *ngFor="let broker of brokered_connections.metrics[0].values; index as i">
              <div data-title="EXIBITOR" class="bc-title">{{broker.caption}}</div>
              <div data-title="INDUSTRY" class="bc-industry">{{broker.industry}}</div>
              <div data-title="VISITS" class="bc-visits">{{broker.visits}}</div>
              <div data-title="DWELL" class="bc-dwell" [innerHTML]="broker.dwell | prettyTime:true"></div>

              <div data-title="emails" class="bc-connection" *ngIf="broker.email">
                <span >{{broker.email}}</span>
              </div>

              <div data-title="emails" class="bc-connection" *ngIf="!broker.email">
                <span *ngIf="broker.state === 0" class="leadgen-label __connect" (click)="acceptUser(i)">Connect</span>
                <span *ngIf="broker.state === 1" class="leadgen-label __unsubscribed" (click)="acceptUser(i)">Accept</span>
                <span *ngIf="broker.state === 2">{{broker.email}}</span>
              </div>
            </dl>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #myModal identifier="myModal"> <!--modal-->
  <div class="custompoput-box">
    <div class="custompoput-box__wrapepr">
      <div class="custompoput-box__title">BROKERED CONNECTION &trade;</div>
      <div class="custompoput-box__text">By connecting or accepting brokered connection &trade; requests, your name, email, and phone number will be shared with the repicient.</div>
      <div class="custompoput-box__actions">
        <div class="custompoput-box__confirm">
          <label>
            <input type="checkbox" [(ngModel)]="isChecked"/><span>Don't show me this again</span>
          </label>
        </div>
        <div class="custompoput-box__buttons">
          <div class="custompoput-box__button">
            <button type="button" class="btn __ok" (click)="onSubmitModal(isChecked)">OK</button>
          </div>
          <div class="custompoput-box__button">
            <button type="button" class="btn __cc" (click)="myModal.close()">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>