<div class="l-menu-section fg1 section-color-glacier">
  <div class="l-menu-section-title"><span>BROKERED CONNECTIONSTM &trade;</span></div>
  <div class="l-menu-section-inner">
    <div class="scroll-list-box">
      <div class="scroll-list-box__wrapper __default __wb">
        <div class="scroll-list-box__title">
          <div class="scroll-list-box__title-dt">EXHIBITOR</div>
          <div class="scroll-list-box__title-dd">CONNECTION</div>
        </div>
        <div class="scroll-list-box__body">
          <div class="scroll-list-box__items scroll-container">
            <dl>
              <dt>Core-apps</dt>
              <dd>Aensch@target.com</dd>
            </dl>
            <dl>
              <dt>Dulles Expo Center</dt>
              <dd>S.Quinn@walmart.com</dd>
            </dl>
            <dl>
              <dt>eShow</dt>
              <dd>mougherty@JCP.com</dd>
            </dl>
            <dl>
              <dt>Fern</dt>
              <dd><span class="leadgen-label __pending">Pending</span></dd>
            </dl>
            <dl>
              <dt>Music City Center</dt>
              <dd>Gawronski@kohls.com</dd>
            </dl>
            <dl>
              <dt>NOOKS by Deondo</dt>
              <dd><span class="leadgen-label __connect">Connect</span></dd>
            </dl>
            <dl>
              <dt>Omnipress</dt>
              <dd><span class="leadgen-label __pending">Pending</span></dd>
            </dl>
            <dl>
              <dt>PSAV</dt>
              <dd><span class="leadgen-label __connect">Connect</span></dd>
            </dl>
            <dl>
              <dt>Rock-It Cargo</dt>
              <dd><span class="leadgen-label __connect">Connect</span></dd>
            </dl>
            <dl>
              <dt>Shepard</dt>
              <dd><span class="leadgen-label __connect">Connect</span></dd>
            </dl>
            <dl>
              <dt>SMT expo</dt>
              <dd><span class="leadgen-label __connect">Connect</span></dd>
            </dl>
            <dl>
              <dt>Stage</dt>
              <dd><span class="leadgen-label __pending">Pending</span></dd>
            </dl>
            <dl>
              <dt>T3 Expo</dt>
              <dd><span class="leadgen-label __connect">Connect</span></dd>
            </dl>
            <dl>
              <dt>The Expo Group</dt>
              <dd><span class="leadgen-label __connect">Connect</span></dd>
            </dl>
            <dl>
              <dt>Trade Show Executive</dt>
              <dd>Rleven@coxxx.com</dd>
            </dl>
            <dl>
              <dt>Two Dudes Photo</dt>
              <dd>Waensch@target.com</dd>
            </dl>
            <dl>
              <dt>Three Fingers Fight</dt>
              <dd>duinn.lee@walmart.com</dd>
            </dl>
            <dl>
              <dt>Tech Over The Rainbow</dt>
              <dd>mougherty@JCP.com</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
