<div class="l-menu-section fg1 section-color-glacier l-menu-section_bt">
  <div class="l-menu-section-title"><span>YOUR ATTENDANCE</span></div>
  <div class="l-menu-section-inner">
    <div class="l-menu-section-block __b-25">
      <div class="a-box-icon-caption">
        <div class="a-box-icon-caption__wr">
          <div class="a-box__caption">
            <div class="a-box__title">VISITS</div>
            <div class="a-box__value"><span>3.6</span></div>
          </div>
          <div class="a-box__icon">
            <div class="a-box__title">DWELL</div>
            <div class="a-box__value"><i class="icon icon-icon-clock"></i><span>14<i class="i-sm">h</i>:34<i class="i-sm">m</i></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-menu-section-block __b-25">
      <div class="a-box-icon-caption">
        <div class="a-box-icon-caption__wr">
          <div class="a-box__caption">
            <div class="a-box__title">VISITS</div>
            <div class="a-box__value"><span>4.1</span></div>
          </div>
          <div class="a-box__icon">
            <div class="a-box__title">DWELL</div>
            <div class="a-box__value"><i class="icon icon-icon-clock"></i><span>4<i class="i-sm">h</i>:21<i class="i-sm">m</i></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-menu-section-block __b-25">
      <div class="a-box-icon-caption">
        <div class="a-box-icon-caption__wr">
          <div class="a-box__caption">
            <div class="a-box__title">VISITS</div>
            <div class="a-box__value"><span>5.3</span></div>
          </div>
          <div class="a-box__icon">
            <div class="a-box__title">DWELL</div>
            <div class="a-box__value"><i class="icon icon-icon-clock"></i><span>6<i class="i-sm">h</i>:32<i class="i-sm">m</i></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-menu-section-block __b-25">
      <div class="a-box-icon-caption">
        <div class="a-box-icon-caption__wr">
          <div class="a-box__caption">
            <div class="a-box__title">VISITS</div>
            <div class="a-box__value"><span>14.7</span></div>
          </div>
          <div class="a-box__icon">
            <div class="a-box__title">DWELL</div>
            <div class="a-box__value"><i class="icon icon-icon-clock"></i><span>2<i class="i-sm">h</i>:32<i class="i-sm">m</i></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
