<div class="l-menu-section fg1 section-color-glacier l-menu-section_bt">
  <div class="l-menu-section-title"><span>YOUR ATTENDANCE</span></div>
  <div class="l-menu-section-inner">
    <div class="l-menu-section-block __b-25" *ngFor="let attend of attendance.metrics">
      <div class="a-box-icon-caption">
        <div class="a-box-icon-caption__wr">
          <div class="a-box__caption">
            <div class="a-box__title" >{{attend.caption}}</div>
            <div class="a-box__value"><span>{{attend.value1}}</span></div>
          </div>
          <!--<div class="a-box__icon">-->
            <!--<div class="a-box__title">DWELL</div>-->
            <!--<div class="a-box__value"><i class="icon icon-icon-clock"></i>-->
              <!--<span class="a-box__value__styled" [innerHTML]="attend.value2 | prettyTime:true">-->
              <!--</span>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
