<div class="l-wrapper">
  <div class="l-wrapper-inner">
    <!-- - data.header = data.header ? data.header : {}-->
    <div class="l-menu l-menu_dl">
      <nav class="l-menu-side minimized null ">
        <div class="c-menu js-menu c-menu-total-length-0 c-menu-group-items-length-0">
        </div>
      </nav>
      <div class="l-menu-content">
        <div class="a-header">
          <div class="a-header__content">
            <div class="a-header__logos">
              <div class="a-header__logo a-header__logo_iaee"><a href="#"><img src="assets/img/IAEE.png" alt=""/></a></div>
              <div class="a-header__logo a-header__logo_ea"><a href="#"><img src="assets/img/logo.png" alt=""/></a></div>
            </div>
            <div class="a-header__info">
              <div class="a-header__name">Attendee Snapshot</div>
              <div class="a-header__date">Attendance Dates: 10/15/2018 thru 10/17/2018</div>
            </div>
          </div>
        </div>
        <main class="l-menu-content-inner d-flex">
          <div class="row fg1 __attendee">
            <div class="d-flex col-md-8 col-sm-12 order-sm-1 order-md-1">
              <app-your-attendance *ngIf="data.attendance" [attendance]="data.attendance"></app-your-attendance>
            </div>

            <div class="d-flex col-md-16 col-sm-24 order-sm-2 order-md-3">
              <app-brokered *ngIf="data.brokered_connections" [brokered_connections]="data.brokered_connections"></app-brokered>
            </div>
          </div>
          <div class="row fg1 __attendee">
            <div class="d-flex col-md-8 order-sm-3 order-md-2">
              <app-your-fitness *ngIf="data.fitness" [fitness]="data.fitness"></app-your-fitness>
            </div>
            <div class="d-flex col-md-8 order-sm-3 order-md-2">
              <app-minded-attendees *ngIf="data.likeminded" [likeminded]="data.likeminded"></app-minded-attendees>
            </div>
            <div class="d-flex col-md-8 col-sm-12 order-sm-2 order-md-3">
              <app-your-sessions *ngIf="data.sessions" [sessions]="data.sessions"></app-your-sessions>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

<!-- <ngx-smart-modal #myModal identifier="myModal">
  <div class="custompoput-box">
    <div class="custompoput-box__wrapepr">
      <div class="custompoput-box__title">BROKERED CONNECTION &trade;</div>
      <div class="custompoput-box__text">The recipient will receive your request to connect when the show ends within their attendee snapshot.</div>
      <div class="custompoput-box__actions">
        <div class="custompoput-box__confirm">
          <label>
            <input type="checkbox" [(ngModel)]="isChecked"/><span>Don't show me this again</span>
          </label>
        </div>
        <div class="custompoput-box__buttons">
          <div class="custompoput-box__button">
            <button type="button" class="btn __ok" (click)="onSubmitModal(isChecked)">OK</button>
          </div>
          <div class="custompoput-box__button">
            <button type="button" class="btn __cc" (click)="myModal.close()">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal> -->